/* General CSS stuff goes here. */
body {
    background-color: white;
    }
    .columnred {
    height: 200px;
    background-color: red;
    }
    .columnblue {
    height: 200px;
    background-color: blue;
    }
    .columngreen {
    height: 200px;
    background-color: green;
    }
    #jumbotron{
        height: 650px;
        width: 1250px;
        background-image: url(../assets/img/pexels-photo-67517.jpeg);
        margin: 0px 0px 0px 100px;
    }
    
   #jumbotron-text{
       color: black;
   }
    