/* CSS code for the Footer section. */

/* CSS code for the Header section. */
#main-header {
    height: 600px;
  background-image: url(../assets/img/adventure-clouds-country-258136.jpg)
  }
  ​
  /* Bootstrap overrides */
  .jumbotron-heading {
    padding-top: 50px;
  }
  ​
  #header-action {
    margin-top: 30px;
  }
  .jumbotron .container {
    max-width: 60rem;
  }
  